trunk/src/main/resources/org/wiztools/xml2spreadsheet/xml2spreadsheet.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
 <xs:annotation>
  -- This schema was automatically generated by Syntext Dtd2Schema --
  -- conversion tool (from file: /home/subhash/code/java/xml2spreadsheet/trunk/src/main/resources/org/wiztools/xml2spreadsheet/xml2spreadsheet.dtd) --
  -- Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates. --
 </xs:annotation>
 <xs:element name='boolean'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='calendar'>
  <xs:complexType mixed='true'>
  <xs:attribute name='format' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='cell'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='boolean'/>
     <xs:element ref='calendar'/>
     <xs:element ref='date'/>
     <xs:element ref='formula'/>
     <xs:element ref='number'/>
     <xs:element ref='text'/>
   </xs:choice>
  <xs:attribute name='placement' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='style'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='column-width'>
  <xs:complexType>
  <xs:attribute name='column' use='required' type='xs:NMTOKEN'/>
  <xs:attribute name='width' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='date'>
  <xs:complexType mixed='true'>
  <xs:attribute name='format' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='formula'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='merge'>
  <xs:complexType>
  <xs:attribute name='region' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='number'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='row'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='cell' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='placement' use='required' type='xs:NMTOKEN'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='sheet'>
  <xs:complexType>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
     <xs:element ref='column-width'/>
     <xs:element ref='merge'/>
     <xs:element ref='row'/>
   </xs:choice>
  <xs:attribute name='col-width'/>
  <xs:attribute name='name'/>
  <xs:attribute name='row-width'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='text'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='workbook'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='sheet' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>
